langchain
openai
numpy
datasets
fuzzywuzzy
python-Levenshtein
transformers
sacrebleu
sacremoses
faiss-cpu
nltk
scikit-learn
evaluate
torch
lexical-diversity
dirtyjson
sentence-transformers
pynvml
wandb
bitsandbytes
accelerate
